package org.pubsub.models;

import java.util.Date;
import java.util.List;
import java.util.Objects;

import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonValue;

{{#imports}}import {{import}};
{{/imports}}
{{#serializableModel}}import java.io.Serializable;
{{/serializableModel}}{{#models}}{{#model}}{{#description}}
/**
 * {{description}}
 **/
{{/description}}{{^description}}
{{/description}}{{#isEnum}}{{>model/enumOuterClass}}{{/isEnum}}{{^isEnum}}{{>model/pojo}}{{/isEnum}}{{/model}}{{/models}}