{{>licenseInfo}}

package org.pubsub.controller;

{{#imports}} 
import {{import}};
{{/imports}}

public class Main {

	public static void main(String[] args) {

		{{classname}} m{{classname}} = new {{classname}}();	
			
		{{#operations}}
		{{#operation}}
		{{#isSubscribe}}
		{{classname}}.{{operationId}}();
		{{/isSubscribe}}
	    {{/operation}}
        {{/operations}}	
	}
}
